    table {
        margin: 2em 12em;
        min-width: 50%;
        background-color: black;
        box-shadow: 0px 0px 20px 10px black;
        min-width: 70%;
    }
    
    tr {
    background-color: lightslategray;
    color: white;
    text-align: center;
    font-size: 25px;
    }

    td {
        border: 2px solid black;
        font-size: 30px;
        line-height: 1;
        vertical-align: middle;
        padding: .5em;
        margin: 0;
    }

    h1 {
        font-size: 40px;
        text-align: center;
        background-color: lightslategray;
        padding: .5em;
        margin: 0em;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
        min-width: 70%;


    }

    th {
        font-size: 25px;
        padding: .5em;
        border: 2px solid black;

    }

    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-image: url("https://plus.unsplash.com/premium_photo-1697729481313-d468f4647fea?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: contain;
        background-attachment: fixed;
        font-family: OldEnglishedBoots;
    }

    


    
    img:hover {
        filter: brightness(1.1);
    }



    footer {
        display: flex;
        justify-content: space-between;
        padding: .5em;
        color: white;
        text-decoration: none;
        background-color: lightslategray;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 1);
        min-width: 70%;
    }


    @font-face {
        font-family: OldEnglishedBoots;
        src: url("../public/Old_Englished_Boots.ttf");
    }